n8n/workflows/crm_sync.json
{
  "name": "crm_sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "hourly-trigger",
      "name": "Hourly Sync Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "id": "fetch-new-leads",
      "name": "Fetch New Leads",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "connection": "postgres_local",
        "query": "SELECT * FROM leads WHERE status = 'new' ORDER BY created_at DESC LIMIT 50"
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/orchestrate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"task\": \"crm_sync\",\n  \"region\": \"Bangalore\",\n  \"leads\": {{ JSON.stringify($json) }},\n  \"agents\": [\"LeadQualification\", \"SalesCoach\", \"WhatsAppAgent\", \"CRM\"]\n}"
      },
      "id": "trigger-crm-agents",
      "name": "Trigger CRM Agents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "content": "## CRM Sync (Phase 5)\n\nHourly sync of new Bangalore leads to Lead Qualification, Sales Coach, WhatsApp, and CRM agents.\n\nOrchestrator: :8000 (was :8005 in Phase 1).",
        "height": 140,
        "width": 340
      },
      "id": "sticky-note-crm",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        80
      ]
    }
  ],
  "connections": {
    "Hourly Sync Trigger": {
      "main": [
        [
          {
            "node": "Fetch New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch New Leads": {
      "main": [
        [
          {
            "node": "Trigger CRM Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata"
  }
}
